APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:nydtcpqz14bEgH7b2D52XmWeYyI+CP4r1DDU+1yF4Fo=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=passagens_barco
DB_USERNAME=sail
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@passagensbarco.com"
MAIL_FROM_NAME="Passagens de Barco"

CACHE_DRIVER=redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

JWT_SECRET=p6ij8xNk2FJqp3gVZ5XvytRMTVYUaTVtuX6CzueTWGWlEuw5rK5cKesnoRvBApeO

RECAPTCHA_SITE_KEY=6LdB8XgrAAAAAFTvX-7okdTS0HPYGuhKxaG9Ya-n
RECAPTCHA_SECRET_KEY=6LdB8XgrAAAAAMiAH3U7HYrHR0dithZss5vLJM5V